*{
    box-sizing: border-box;
    font-family: sans-serif;
}

div.row{
    margin: 2%;
    padding: 2%;
    border: solid 2px #474C55;
    background-color: #474C55;
}

[class *= "col-"]{
	width:100%;
	float:left;
    border:solid 2px #F26525;
    color: white;
    background-color: #F26525;
}

.row::after{
	content:"";
	clear:both;
	display:table;
}

@media only screen and (min-width: 600px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}